@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.6.0/style.min.css");
:root {
  --vp-c-bg: #f8efef;
  --vp-c-bg-alpha-with-backdrop: rgba(248, 240, 240, 0.7);
  --vp-c-hover: #272727;
  --vp-c-brand: #be2929;
  --vp-c-brand-light: #d18e8e;
  --vp-c-brand-dark: #691818;
  --brain-stroke-color: #525252;
  --brain-bg-color: #ffffff;
  --brain-mask-stroke-opacity: #989898;
  --brain-mask-bg-opacity: #dfdfdf;
  --brain-stroke-width: 15;

  /* --vp-font-family-base: "LXGW WenKai Lite", "Inter var experimental",
    "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --vp-font-family-mono: "LXGW WenKai Mono Lite", ui-monospace, SFMono-Regular,
    "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace; */
}
.dark {
  --vp-c-bg: #353330;
  --vp-c-bg-alpha-with-backdrop: rgba(66, 69, 83, 0.7);
  --vp-c-hover: white;
  --vp-c-text: white;
}

.theme {
  background-color: var(--vp-c-bg);
}

#app {
  min-height: 100vh;
  position: relative;
}

.vp-doc h2 {
  margin-top: 0;
  border-top: none;
}